@import '../../styles/colors.scss';

.auth-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    .auth-form {
        width: 100%;
        max-width: 440px;
        color: white;
        padding: 0 32px;
        position: relative;
        top: -80px;

        .auth-select-buttons {
            display: flex;
            justify-content: space-evenly;

            .button {
                margin: 10px;
            }
        }

        .auth-page-title {
            margin-bottom: 48px;
        }

        .auth-form-input-container {
            position: relative;
            margin: 0 0 24px 0;

            .auth-form-label {
                position: absolute;
                top: -12px;
                left: 12px;
                background-color: $primaryBackground;
                padding: 0 4px;
                color: grey;
            }
    
            .auth-form-input {
                background: transparent;
                border: 1px solid grey;
                border-radius: 4px;
                font-size: 16px;
                height: 64px;
                line-height: 32px;
                font-weight: bold;
                color: white;
                padding: 16px 12px;
                width: 100%;
                box-sizing: border-box;

                &[name="auth-message"] {
                    height: 128px;
                }
            }

            .auth-form-rating {
                padding: 24px 16px 16px;
                border: 1px solid grey;
                border-radius: 4px;
                display: inline-block;

                .auth-star {
                    font-size: 24px;
                    display: inline-block;
                    margin-right: 8px;
                    cursor: pointer;
                }
            }
        }
        
    }
}