$primaryRed: rgba(240, 19, 30, 0.7);
$primaryBackground: rgb(26, 26, 26);
$backgroundWhite: rgb(255,255,255);
$primaryText: rgb(255,255,255);
$secondaryText: rgba(255,255,255, .8);
$textBlack: rgb(26, 26, 26);