@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/colors.scss';

.app-container {
  font-family: 'Noto Sans Pahawh Hmong';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: white;
}

.app-content {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.media-container {
  margin: 32px 16px 0 16px;
}

.filter-bar {
  padding: 32px 0 0 48px;
  width: 100%;
  label {
    color: $secondaryText;
    display: inline-block;
    margin-right: 12px;
  }
  .select-menu {
    width: 150px;
    height: 2rem;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }
}

@media (max-width: $maxMobileWidth) {
  .app-content {
    display: block;
    padding: 16px 0;
    width: 375px;
    margin: 0 auto;
    .media {
      float: left;
      &:nth-child(2n+1) {
        margin-right: 25px;
        margin-left: 13px;
      }
      a {
        max-width: 150px;
        .media-poster {
          width: 150px;
          aspect-ratio: 27/40;
        }
      }
    }
  }
}
