@import '../../styles/breakpoints.scss';

.featured-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 35px;
  background-image: url("/images/show-thumbnails/Loki.png");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 3/1;
  position: relative;
  box-shadow: 1px 1px 20px;
  z-index: 1;

  .featured-tile {
    position: absolute;
    top: 8vw;
    max-width: 440px;
    width: 100%;
  }
}

.tile-logo {
  img {
    width: 100%;
    max-width: 540px;
    margin-bottom: 40px;
    width: 40vw;
  }
}

.tile-button-container {
  display: flex;
}

.featured-buttons {
  max-width: 540px;
}

@media (max-width: 768px) {
  .featured-container {
    aspect-ratio: 3/1.2;
  }
  .tile-logo img {
    margin-bottom: 16px;
  }
  .featured-buttons {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media (max-width: $maxMobileWidth) {
  .featured-container {
    padding: 16px;

    .featured-tile {
      width: 90%;
    }
  }
}